@import "~assets/scss/variables";

.tabs {
  width: 100%;
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-direction: row;

  .tabs-field {
    width: $width;
    display: flex;
    flex-direction: row;
  }

  .left {
    width: calc((100vw - $width) / 2.07);
    border-width: 0px;
    border-bottom-width: 2px;
  }

  .right {
    flex-grow: 1;
    border-width: 0px;
    border-bottom-width: 2px;
  }

  .tab {
    cursor: pointer;
    user-select: none;
    flex: none;
    display: flex;
    flex-direction: row;
    div {
      height: 60px;
      padding: 0 20px;
      display: flex;
    }

    img {
      align-self: flex-end;
    }

    .corner-right {
      transform: rotate(90deg) translateY(1px);
    }
  }

  .tab-on {
    padding: 0;
    border-width: 0;
    border-bottom-width: 2px;
    div {
      border-radius: 12px 12px 0 0;
    }
  }

  .tab-off {
    padding: 0;
    border-width: 0;
    border-bottom-width: 2px;
  }

  .tab-empty {
    flex-grow: 1;
    border-width: 0;
    border-bottom-width: 2px;
  }
}
