<div class="bg-main_5">
  <div id="header-inner" class="header-inner">
    <div class="header-item-1">
      <div class="header-logo">
        <app-svg-icon [width]="'126'" [height]="'36'" [iconName]="'kase-logo'"></app-svg-icon>
      </div>
      <span class="header-datetime font-12_20 font-300">Cреда, 14 июля 2021, 15:31</span>
<!--      <div class="block-span-svg">-->
<!--        <app-svg-icon class="if-icon_left svg-main_2"-->
<!--                      [width]="'16'" [height]="'16'"-->
<!--                      [iconName]="'bar_chart_line_fill-icon'"></app-svg-icon>-->
<!--        <span class="font-300 font-12_20 font-main-2">Торговая информация</span>-->
<!--      </div>-->
      <span class="font-400 font-12_20">+7 (727) 237 53 00</span>
      <div class="input-field-medium font-300 font-14_22">
        <app-svg-icon class="if-icon_left" [classFill]="'svgs'" [width]="'20'" [height]="'20'"
                      [iconName]="'search-icon'"></app-svg-icon>
        <input placeholder="Поиск...">
      </div>
      <div class="header-language font-10_16 pointer user-select-none">
        <ng-container *ngFor="let lang of languages">
        <span class="{{currentLang?.value === lang.value ? 'font-700 font-main_1' : 'font-300 font-main_2'}}"
        >
<!--          (click)="pickLanguage(lang)">-->
          {{lang.name}}
        </span>
        </ng-container>
      </div>
      <div class="header-sign_in button-h28-p0_12 primary-button">
        <span class="font-300 font-12_20 font-main_1">Войти</span>
      </div>
    </div>

    <div class="header-item-2">
      <div class="header-menu-1 font-300 font-12_20 font-main_2">
        <div class="hms-header pointer user-select-none"
             *ngFor="let item of headerMenuBigList"
             (click)="showHeaderMenuList(item.header)"
             [id]="item.header"
             [ngClass]="{
     'border-main_1 header-menu-active': show === item.header,
     'header-menu': show != item.header
     }">
          {{item.header}}
          <app-header-menu-big *ngIf="show === item.header" [show]="show" [itemHeader]="item.header"
                               [menuList]="item.menuList"></app-header-menu-big>
        </div>
        <div class="hms-header pointer user-select-none"
             *ngFor="let item of headerMenuList"
             (click)="showHeaderMenuList(item.header)"
             [id]="item.header"
             [ngClass]="{
     'border-main_1 header-menu-active': show === item.header,
     'header-menu': show != item.header
     }">
          {{item.header}}
          <app-header-menu-small *ngIf="show === item.header" [show]="show" [itemHeader]="item.header"
                                 [menuList]="item.menuList"></app-header-menu-small>
        </div>
      </div>
    </div>
  </div>
</div>
