<div class="footer_inner">
  <div class="footer_header">
    <div class="fh-left">
      <span class="font-700 font-20_28 font-white">Казахстанская фондовая биржа</span>
      <div class="fhl-menu font-300 font-16_24 font-main-4">
        <span>Вопросы-ответы</span>
        <span>Пресс-центр</span>
        <span>Карьера</span>
        <span>Контакты и реквизиты</span>
        <span>Корпоративный стиль</span>
        <span>Антикоррупционный комплаенс</span>
      </div>
    </div>
    <div class="fh-right">
      <span class="fhr-number font-700 font-28_40 font-white">+7 (727) 237 53 00</span>
      <span class="fhr-feedback font-300 font-16_24 font-white_80per">Отзывы и предложения</span>
    </div>
  </div>
  <div class="footer-line_1 bg-main_3"></div>
  <div class="footer_body">
    <div class="fb-left">
      <span class="font-300 font-16_24 font-white_80per">Мобильное приложение для iOS и Android</span>
      <div class="fbl-markets">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=Google%20Play.svg">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=App%20Store.svg">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=AppGallery.svg">
      </div>
      <div class="fbl-iris">
        <img src="../../../../assets/images/const-svgs/footer/kase-triangle-logo.svg">
        <div class="fbli-info font-white">
          <span class="font-500">IRIS Finance</span>
          <span class="font-300">Информационный терминал</span>
        </div>
      </div>
      <div class="fbl-links">
        <img src="../../../../assets/images/const-svgs/footer/telegram.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/facebook.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/linkedin.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/instagram.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/youtube.svg" alt="">
      </div>
    </div>
    <div class="fb-right">
      <img src="../../../../assets/images/const-svgs/footer/halyk.svg" alt="">
    </div>
  </div>
  <div class="footer-line_2 bg-main_3"></div>
  <span class="font-300 font-16_24 font-white_70per">
    © 1993-2021 АО "Казахстанская фондовая биржа". Копирование материалов – только с письменного разрешения.
  </span>
</div>
