
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kasekz-primary: mat.define-palette(mat.$indigo-palette);
$kasekz-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kasekz-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kasekz-theme: mat.define-light-theme((
  color: (
    primary: $kasekz-primary,
    accent: $kasekz-accent,
    warn: $kasekz-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kasekz-theme);

@import "assets/scss/main";
@import "assets/scss/variables";

// header
@import "src/assets/scss/wrapper/header";
@import "src/assets/scss/shared/header-menu-small/header-menu-small";
@import "src/assets/scss/shared/header-menu-big/header-menu-big";

@import "src/assets/scss/wrapper/page";
@import "src/assets/scss/wrapper/footer";

// layout
@import "src/assets/scss/layout/finance_instruments/finance_instruments";
@import "src/assets/scss/layout/tool/tool-specifications/tool-specifications";
@import "src/assets/scss/layout/tool/tool-bidding/tool-bidding";
@import "src/assets/scss/layout/list-of-companies/list-of-companies";

// shared
@import "src/assets/scss/shared/path_tree/path_tree";
@import "src/assets/scss/shared/table/table";
@import "src/assets/scss/shared/actual-information/actual-information";

// angular material
@import "src/assets/scss/mat-menu/mat-menu";
@import "src/assets/scss/shared/filter-button/filter-button";

// trading view
@import "src/assets/scss/tradingview/tradingview";

// fonts
@import "src/assets/scss/fonts";

// properties
@import "src/assets/scss/properties/font";
@import "src/assets/scss/properties/flexbox";
@import "src/assets/scss/properties/block";
@import "src/assets/scss/properties/input";
@import "src/assets/scss/properties/border";
@import "src/assets/scss/properties/button";
@import "src/assets/scss/properties/margin";
@import "src/assets/scss/properties/padding";
@import "assets/scss/properties/transform-prop";
@import "assets/scss/properties/tabs";

// z-index
@import "assets/scss/z-index/z-index";

// theme-colors
@import "src/assets/scss/theme/const-colors";
@import "assets/scss/theme/theme";
@import "assets/scss/theme/light-theme";
