<div class="paper-short-info">
  <div class="psi-left">
    <span class="font-700 font-40_56">{{code}}</span>
    <div class="psil-link">
      <img src="../../../../../assets/images/const-svgs/companies-logo/kaspi-icon.svg" alt="">
      <a class="font-300 font-16_24 font-underline" href="#">AO Kaspi.kz</a>
    </div>
    <span class="psil-promotion font-300 font-14_22">простая акция KZ1C00001536</span>
  </div>
  <div class="psi-right">
    <div class="button-p0_30 primary-button">
      <app-svg-icon [width]="'20'" [height]="'20'"
                    [iconName]="'plus-icon'">
      </app-svg-icon>
      <span class="font-500 font-14_24">Добавить в мой список инструментов</span>
    </div>
    <div class="psir-condition">
      <div class="psirc-item border-sec_5">
        <span class="font-300 font-12_20 font-nowrap font-uppercase font-main_2">Цена последней сделки</span>
        <div class="psirci-values">
          <span class="font-300 font-24_24 font-nowrap font-main-2">46 400,00</span>
        </div>
      </div>
      <div class="psirc-item border-sec_5">
        <span class="font-300 font-12_20 font-uppercase font-main-2">Тренд, kzt</span>
        <div class="psirci-values block-sec_2">
          <app-svg-icon [width]="'12'" [height]="'12'"
                        [iconName]="'arrow_down_strong-icon'">
          </app-svg-icon>
          <span class="font-300 font-24_24 font-nowrap">- 46 400,00</span>
        </div>
      </div>
      <div class="psirc-item border-sec_5">
        <span class="font-300 font-12_20  font-nowrapfont-uppercase font-main-2">Тренд, %</span>
        <div class="psirci-values block-sec_2">
          <app-svg-icon [width]="'12'" [height]="'12'"
                        [iconName]="'arrow_down_strong-icon'">
          </app-svg-icon>
          <span class="font-300 font-24_24 font-nowrap">- 46 400,00</span>
        </div>
      </div>
    </div>
  </div>
</div>
